# Private environment variables.
# used by python-dotenv
.env
# couldn't get python-dev to work with systemd, so using environment file
environment_BARK
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# PyCharm files
.idea/

# Logfiles
BARK.LOG
