atomicwrites==1.2.1
attrs==18.2.0
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
pathlib2==2.3.2
pkg-resources==0.0.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.2
pytest-flask==0.13.0
python-dotenv==0.9.1
rpi-ws281x==4.0.0
RPi.GPIO==0.6.3
six==1.11.0
spidev==3.2
Werkzeug==0.14.1
