{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container pt-4 d-flex justify-content-center">
         <img class="border border-primary rounded" src="http://50.46.122.171:8081/"/>
    </div>
    <!--  Buttons -->
    <div class="container pt-4 mt-4">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button type="button" id="stop" class="btn  btn-danger">Stop</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" id="close" class="btn btn-warning">Close</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" id="open" class="btn btn-primary">Open</button>
            </div>
        </div>
    </div>

    <!-- Handle buttons -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("document ready");
            // Clicked to close the door.
            var CLOSE = 0, OPEN = 1, STOP = 2
            $('#close').click(function () {
                console.log("clicked on close");
                open_close_door(CLOSE);
            });
            // Clicked to open the door.
            $('#open').click(function () {
                console.log("clicked on open");
                open_close_door(OPEN);
            });
            // Clicked to stop opening or closing
            $('#stop').click(function () {
                console.log("clicked on stop");
                open_close_door(STOP);
            });
        });

        function open_close_door(action_to_do) {
            console.log('action: ' + action_to_do);
            var input_data = JSON.stringify({action: action_to_do});

            console.log(input_data);
            // URL...
            var theURL = "http://50.46.122.171:8519/get_open_close"
            var settings = {
                "async": true,
                "url": theURL,
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                },
                "processData": false,
                "data": input_data
            }
            $.ajax(settings).done(function (response) {

                console.log(response);
            });
        }
    </script>

{% endblock %}
